<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задачи</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="content">
        <div class="title">Диагностическая информация</div>
        <div class="list">
            <ul>
                <li>Всего задач: {{ total_tasks }}</li>
                <li>Невыполненные задачи: {{ pending_tasks }}</li>
                <li>Выполненные задачи: {{ completed_tasks }}</li>
                {% if categories %}
                    <li>
                        Категории:
                        {% for category in categories %}
                            <span class="category">{{ category }}</span>
                        {% endfor %}
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="title">Задачи</div>
        <div class="list">
            <ul>
                {% for task in tasks %}
                    <li{% if task.is_completed %} class="checked"{% endif %}>
                        <input type="checkbox" name="task{{ forloop.counter }}" id="task{{ forloop.counter }}"{% if task.is_completed %} checked{% endif %}>
                        <label for="task{{ forloop.counter }}">{{ task }}</label>
                        <span class="category">{{ task.category_task }}</span>
                    </li>
                {% empty %}
                    Ничего нет.
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>